.article {
    background: var(--bg_color);
    min-height: calc(100vh - 38vw);
    padding-bottom: 3vw;
    .article-wrap {
        background: var(--bg_color);
        width: 72vw;
        margin: 0 auto;
        padding: 5vw 0;
        display: flex;
        justify-content: space-between;
        .article-wrap-left {
            width: 44vw;
            .article-item {
                padding: 1vw;
                width: 44vw;
                height: 15vw;
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                &:not(:first-child) {
                    margin-top: 3.6vw;
                }
                // 图片
                .image-wrap {
                    position: relative;
                    width: 23vw;
                    height: 13vw;
                    border-radius: 0.5vw;
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 0 0.2vw 0.05vw var(--boxshadow_color);
                        .bac-image p {
                            transform: scale(1.2);
                        }
                    }
                    .bac-image {
                        position: absolute;
                        width: 23vw;
                        height: 13vw;
                        box-sizing: border-box;
                        animation: article-in 1s ease-out;
                        animation-fill-mode: forwards;
                        border: 0.05vw solid var(--border_color);
                        border-radius: 0.5vw;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-color: var(--article_bacImage_background);
                        color: var(--article_bacImage_color);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        p {
                            padding: 0 2vw;
                            text-align: center;
                            font-size: 2.4rem;
                            font-family: SimSun;
                            transition: 0.2s transform linear 0s;
                        }
                    }
                    .lock {
                        position: absolute;
                        width: 23vw;
                        height: 13vw;
                        border-radius: 0.5vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: var(--boxshadow_color);
                        .iconxingzhuang {
                            font-size: 8rem;
                            color: var(--bg_color);
                        }
                    }
                }
                // 其他信息
                .article-info {
                    width: 15vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    animation: article-in 1s ease-out;
                    animation-fill-mode: forwards;
                    h3 {
                        color: var(--font_hover_color);
                        font-size: 2rem;
                    }
                    .conetxt {
                        text-indent: 2.4vw;
                        min-height: 6vw;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .time {
                        text-align: right;
                    }
                    .about {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        p {
                            font-size: 1.4rem;
                            vertical-align: middle;
                            .icon {
                                font-size: 1.8rem;
                                margin-right: 0.4vw;
                            }
                        }
                    }
                }
                @keyframes article-in {
                    0% {
                        opacity: 0;
                        transform: translateY(-100%);
                    }
                    80% {
                        opacity: 0.1;
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
        .article-wrap-right {
            width: 18vw;
            .module {
                &:not(:first-child) {
                    margin-top: 3vw;
                }
                h4 {
                    font-size: 2rem;
                    margin-bottom: 1.6vw;
                    padding-left: 1vw;
                    color: var(--font_hover_color);
                    border-left: 0.25vw solid var(--font_hover_color);
                }
            }
        }
    }
}
