.page {
	display: flex;
	align-items: center;
	justify-content: center;
	.number {
		font-size: 2rem;
		font-weight: bold;
		margin: 0 2vw;
		color: var(--font_hover_color);
	}
	.total {
		font-size: 1.2rem;
		margin-left: 2vw;
	}
	.disabled {
		&:hover {
			background: var(--bg_color);
		}
		cursor: not-allowed;
	}
}
