.page {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color_0);
    .number {
        font-size: 2rem;
        font-weight: bold;
        margin: 0 2vw;
    }
    .total {
        color: #666;
        font-size: 1.2rem;
        margin-left: 2vw;
    }
    .disabled {
        &:hover {
            background: var(--color_6);
        }
        cursor: not-allowed;
    }
}
