.anchor-box {
    position: sticky;
    left: calc(100% - 17vw);
    z-index: 99;
    width: 15.5vw;
    height: 0;
    transition: top 0.6s ease-in-out 0s;
    a {
        font-weight: bold;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .level-0 {
        font-size: 2rem;
        line-height: 2.4;
    }
    .level-1 {
        text-indent: 1vw;
        font-size: 1.8rem;
        line-height: 2;
    }
    .level-2 {
        text-indent: 2vw;
        font-size: 1.6rem;
        line-height: 1.6;
    }
    .level-3 {
        text-indent: 3vw;
        font-size: 1.4rem;
        line-height: 1.2;
    }
    .level-4 {
        text-indent: 4vw;
        font-size: 1.4rem;
        line-height: 1.2;
    }
    .level-5 {
        text-indent: 5vw;
        font-size: 1.4rem;
        line-height: 1.2;
    }
}
